---
import Timer from "./Timer.astro";
---

<main
  class="flex flex-col justify-center items-center gap-y-2 mt-2 lg:mt-[10px]"
>
  <span class="text-center font-medium text-[8vw] text-black md:text-[3.5vw]">
    04 . Enero . 2025
  </span>

  <article
    class="flex flex-col justify-center items-center text-[18vw] leading-none my-4
    md:my-8 md:text-[12vw]"
  >
    <span class="text-gray">Antonio</span>
    <span class="text-third">Y</span>
    <span class="text-gray">Cinthia</span>
  </article>

  <img
    src="/images/flowerParents.png"
    class="-mb-6 w-[10vw] md:w-[5vw]"
    alt="Flor de adorno"
  />
  <h2 class="text-primary font-normal text-center text-[9vw] md:text-[5vw]">
    Nuestra boda
  </h2>

  <article class="px-4">
    <p
      class="text-gray md:max-w-[40vw] text-center font-light text-balance
    max-[600px]:px-2 text-[4.5vw] lg:text-[2vw]"
    >
      Hemos decidido unir nuestras vidas en
    </p>
    <p
      class="text-gray md:max-w-[40vw] text-center font-light text-balance
  max-[600px]:px-2 text-[4.5vw] lg:text-[2vw]"
    >
      Santo Matrimonio, con la bendición de Dios y nuestros padres, sería un
      honor contar con tu presencia.
    </p>
  </article>

  <article class="flex flex-col justify-center items-center w-full gap-y-2">
    <p class="text-gray text-[4.2vw] lg:text-[1.8vw] mt-10 lg:mb-2">
      ¡ Faltan !
    </p>
    <Timer />
  </article>
</main>

<style>
  span {
    font-family: "Pinyon Script", cursive;
  }

  h4 {
    font-family: "Mea Culpa", cursive;
  }

  h2 {
    font-family: "Adamina", serif;
  }

  p {
    font-family: "Mulish Variable", sans-serif;
  }
</style>
