<main
  class="mt-[100px] flex flex-col justify-center items-center gap-y-12 text-white"
>
  <h2 class="text-primary font-normal text-[8vw] md:text-[5vw]">
    ¡Te esperamos!
  </h2>
  <article
    class="bg-primary py-12 flex justify-center items-center w-full text-center px-2 text-balance
    text-[4vw] md:text-[1.5vw]"
  >
    <span
      >2024 Boda de Antonio & Cinthia | Hecho con amor por
      <a
        target="_blank"
        rel="noopener"
        href="https://as-work.vercel.app/"
        class="underline text-secondary hover:brightness-125 duration-300"
        >Antonio Silva
      </a>
    </span>
  </article>
</main>

<style>
  h2 {
    font-family: "Adamina", serif;
  }

  span {
    font-family: "Mulish Variable", sans-serif;
  }

  input::placeholder {
    color: #94a3b8;
  }
</style>
