<main
  class="mt-[100px] flex flex-col justify-center items-center gap-y-12 text-white"
>
  <h2 class="text-primary font-normal text-6xl">¡Te esperamos!</h2>
  <article class="bg-third py-12 flex justify-center items-center w-full">
    <span
      >Copyright © 2024 Boda de Cinthia & Antonio | Hecho con amor por
      <a
        target="_blank"
        rel="noopener"
        href="https://as-work.vercel.app/"
        class="underline text-primary hover:brightness-125 duration-300"
        >Antonio Silva
      </a>
    </span>
  </article>
</main>

<style>
  h2 {
    font-family: "Adamina", serif;
  }

  span {
    font-family: "Mulish Variable", sans-serif;
  }

  input::placeholder {
    color: #94a3b8;
  }
</style>
