<main
  class="relative flex flex-col justify-end items-center h-[70vh] gap-y-4 md:h-screen"
>
  <img
    src="/images/Portada.jpeg"
    class="w-full object-cover h-full -z-10 absolute top-0 left-0 lg:object-contain"
    alt="Cinthia y Antonio"
  />

  <div
    class="relative z-10 bg-black bg-opacity-40 p-2 rounded-2xl mb-4 flex flex-col
    justify-center items-center"
  >
    <img
      src="/images/Logo portada.png"
      class="w-[30vw] md:w-[20vw] relative z-20"
      alt="Logo portada"
    />
    <p class="text-center font-light text-[5vw] text-white md:text-[4vw]">
      04 . 01 . 2025
    </p>
  </div>
</main>

<style>
  h1 {
    font-family: "Mea Culpa", cursive;
  }

  h2 {
    font-family: "Adamina", serif;
  }

  span,
  p {
    font-family: "Abril Fatface", system-ui;
  }
</style>
