<main
  class="relative flex flex-col justify-end items-center h-[70vh] gap-y-4 md:h-screen"
>
  <img
    src="/images/Cindy y yo.webp"
    class="w-full object-cover h-full opacity-75 brightness-50 -z-10 absolute top-0 left-0"
    alt="Cinthia y Antonio"
  />

  <img
    src="/images/Hero-boda.png"
    class="w-64 text-center"
    alt="Adorno flores"
  />

  <p class="text-center font-light text-[5vw] text-white md:text-[4vw] mb-4">
    04 / 01 / 2025
  </p>
</main>

<style>
  h1 {
    font-family: "Mea Culpa", cursive;
  }

  h2 {
    font-family: "Adamina", serif;
  }

  span,
  p {
    font-family: "Abril Fatface", system-ui;
  }
</style>
