<main class="mt-[600px] flex flex-col justify-center items-center gap-y-6">
  <img src="./images/flowerParents.png" class="-mb-10" alt="Flor de adorno" />
  <h2 class="text-primary font-normal text-6xl">Nuestros Padres</h2>
  <p
    class="text-gray max-w-[600px] text-center text-2xl font-light text-balance"
  >
    Tenemos el honor de invitarlos a nuestro enlace nupcial, con la bendición de
    Dios y de nuestros padres:
  </p>

  <article class="flex mt-8 gap-x-8 text-2xl">
    <aside class="flex flex-col justify-center items-center gap-y-2">
      <h2 class="text-primary font-semibold text-3xl">Padres del Novio</h2>
      <div class="h-1 w-96 bg-third my-2"></div>
      <span>Antonio Silva Tavera</span>
      <span>Silvia Carmen Zavala Martínez</span>
      <div class="h-1 w-96 bg-third my-2"></div>
    </aside>

    <img src="./images/adorno.png" class="w-72 h-72" alt="Adorno" />

    <aside class="flex flex-col justify-center items-center gap-y-2">
      <h2 class="text-primary font-semibold text-3xl">Padres de la Novia</h2>
      <div class="h-1 w-96 bg-third my-2"></div>
      <span>Gloria Garcia Montoya</span>
      <span>Carlos Correa</span>
      <div class="h-1 w-96 bg-third my-2"></div>
    </aside>
  </article>
</main>

<style>
  h2 {
    font-family: "Adamina", serif;
  }

  p {
    font-family: "Mulish Variable", sans-serif;
  }

  span {
    font-family: "Alice", serif;
  }

  input::placeholder {
    color: #94a3b8;
  }
</style>
