---
import QuoteIcon from "../../public/svgs/Quote.astro";
---

<main
  class="mt-[100px] flex flex-col justify-center items-center gap-y-6 relative"
>
  <QuoteIcon class="text-secondary font-bold size-10 md:size-14" />
  <img
    src="/images/Fondo-Flores.jpeg"
    class="brightness-50 w-full h-auto"
    alt="Cinthia y Antonio"
  />
  <p
    class="text-white font-light absolute inset-0 flex justify-center items-center
    text-center px-4 md:px-8 text-[5vw] md:text-[3vw] leading-relaxed mt-14"
  >
    Así que ya nos son dos sino uno solo, por tanto lo que Dios ha unido que no
    lo separe el hombre
  </p>
</main>

<footer class="flex flex-col justify-center items-center">
  <span
    class="text-gray mb-2 tracking-[0.2em] mt-4 text-[3.5vw] md:text-[1.5vw]"
    >(Mateo 19:6)</span
  >
  <QuoteIcon class="text-secondary font-bold rotate-180 size-10 md:size-14" />
</footer>

<style>
  h2 {
    font-family: "Adamina", serif;
  }

  span {
    font-family: "Mulish Variable", sans-serif;
  }

  p {
    font-family: "Alice", serif;
  }

  input::placeholder {
    color: #94a3b8;
  }
</style>
