---
import ChurchIcon from "../../public/svgs/Church.astro";
import CupIcon from "../../public/svgs/Cup.astro";
---

<main
  class="mt-[50px] flex flex-col justify-center items-center gap-y-6 w-full px-6 md:px-12"
>
  <img src="/images/flowerPlace.png" class="-mb-6" alt="Flor de adorno" />
  <h2 class="text-primary font-normal text-[7vw] md:text-[5vw]">
    Cuándo & Dónde
  </h2>
  <p
    class="text-gray max-w-[600px] text-center font-light text-balance text-[4vw] lg:text-[2vw]"
  >
    Nos encantaría que nos acompañaras
  </p>

  <article
    class="bg-third grid w-full py-8 text-white relative grid-cols-1 lg:grid-cols-2"
  >
    <div
      class="w-full h-px bg-white absolute transform top-1/2 left-0 max-[1000px]:translate-y-1/2
      lg:h-full lg:w-px lg:top-0 lg:left-1/2 lg:-translate-x-1/2"
    >
    </div>
    <aside
      class="flex flex-col justify-center items-center font-light max-[1000px]:pb-14 px-4"
    >
      <div class="relative">
        <div class="w-[70px] h-[70px] rounded-full bg-white -z-50"></div>
        <ChurchIcon
          class="size-12 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 text-secondary"
        />
      </div>
      <span class="font-bold text-[6.5vw] md:text-[3.5vw] my-4">Ceremonia</span>
      <article
        class="flex flex-col justify-center items-center text-[3.5vw] md:text-[1.5vw]"
      >
        <p>Sábado, 4 de Enero, 2025</p>
        <p>01:00 PM</p>
        <p>Santuario de Nuestra Sra. de la Merced</p>
        <p class="text-center">
          Calle Merced #2, Col. Centro, Valle de Santiago, Gto.
        </p>
      </article>
      <a
        href="https://www.google.com/maps/place/Santuario+de+Nuestra+Sra+de+la+Merced/@20.3905939,-101.18815,17z/data=!3m1!4b1!4m6!3m5!1s0x842c8d0c43ba47f5:0x26a2dcc96a783fac!8m2!3d20.3905939!4d-101.18815!16s%2Fg%2F1jkys1840?utm_campaign=tt-sps&coh=209934&entry=tts"
        target="_blank"
        rel="noopener"
        class="uppercase px-12 py-3 bg-secondary mt-4 border border-white tracking-[0.3em]
         duration-300 hover:bg-white hover:border-secondary hover:text-secondary text-[3vw]
         md:text-[1.2vw]"
        >Ver ubicación
      </a>
    </aside>

    <aside class="flex flex-col justify-center items-center font-light px-4">
      <div class="relative">
        <div class="w-[70px] h-[70px] rounded-full bg-white -z-50"></div>
        <CupIcon
          class="size-12 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 text-secondary"
        />
      </div>
      <span class="font-bold text-[6.5vw] md:text-[3.5vw] my-4">Recepción</span>
      <article
        class="flex flex-col justify-center items-center text-[3.5vw] md:text-[1.5vw]"
      >
        <p>Sábado, 4 de Enero, 2025</p>
        <p>02:00 PM</p>
        <p>Salón La Estancia</p>
        <p class="text-center">
          Calle Mena #53, Col. Centro, Valle de Santiago, Gto.
        </p>
      </article>
      <a
        href="https://www.google.com.mx/maps/@20.3918162,-101.175922,3a,75y,190.15h,90t/data=!3m7!1e1!3m5!1swKbBVcW9KysAblHLy_z-rg!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D0%26panoid%3DwKbBVcW9KysAblHLy_z-rg%26yaw%3D190.1461!7i13312!8i6656?coh=205410&entry=ttu"
        target="_blank"
        rel="noopener"
        class="uppercase px-12 py-3 bg-secondary mt-4 border border-white tracking-[0.3em]
         duration-300 hover:bg-white hover:border-secondary hover:text-secondary text-[3vw] md:text-[1.2vw]"
        >Ver ubicación
      </a>
    </aside>
  </article>
</main>

<style>
  h2 {
    font-family: "Adamina", serif;
  }

  p {
    font-family: "Mulish Variable", sans-serif;
  }

  span {
    font-family: "Alice", serif;
  }

  input::placeholder {
    color: #94a3b8;
  }
</style>
